.contenedor{
display: block;
margin: 0 auto;
padding: 20px;
background-image: url(https://thumbs.dreamstime.com/b/%CE%B1%CF%81%CE%B9%CE%B8%CE%BC%CE%BF%CE%AF-%CE%B1%CE%BD%CE%B1%CF%83%CE%BA%CF%8C%CF%80%CE%B7%CF%83%CE%B7%CF%82-5186116.jpg);
width: 300px;
height: 500px;
border-radius: 10px;
text-align: center;
}
.signos {
    background-color: #af4c59; 
    border: none;
    color: rgb(12, 6, 5);
    padding: 30px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 30px;
    font-weight: bold ;
    margin: 5px 5px;
    width: 100px;
    height: 100px;
  }
  .signos {border-radius: 8px;}
  .signos:hover {
    box-shadow: 2px 2px 2px gray
  }

  input[type="number" i] {
    padding: 5px 100px;
    max-width: 40px;
    background-color: #51336d;
    border-radius: 10px;
    
}

table{
  margin: auto;
}
.titulo{
  font-weight: bolder;
  font-size: large;
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'Comfortaa', cursive;
  font-family: 'Dancing Script', cursive;
  font-family: 'Noto Serif Armenian', serif;
  font-family: 'Ysabeau', sans-serif;
  background-color: #51336d;
  border-radius: 10px;
  height: 50px;
  width: 300px;
  text-align: center;
}
::placeholder{
  color: black;
}
